body {
	line-height: 1.7em;
	color: #7f8c8d;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	background: #3C4556
}
label {
	color: #D3D4D5
}
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.hero {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	box-sizing: border-box;
	padding: 4rem;
	color: #59667D;
}
.hero-headline {
	font-size: 2rem;
	margin-bottom: 0;
	white-space: nowrap;
}
.year {
  color: #4C9ED9;
}
.hero-copy {
	font-size: 1.25rem;
	margin-bottom: 2rem;
}
.hero-copy {
	font-size: 1rem;
	margin-bottom: 0;
	padding: 0 2rem;
	text-align: center;
}
.box {
	padding: 1rem;
	border-radius: 2px;
	box-sizing: border-box;
	color: #fff;
	margin-bottom: 0;
	min-height: 1rem;
	overflow: hidden;
	position: relative;
	text-align: center;
}
@media only screen and (min-width: 48rem) {
	.hero-headline {
		font-size: 4rem;
		margin-bottom: 2rem;
	}
	.hero-copy {
		font-size: 1.25rem;
		margin-bottom: 2rem;
	}
}
.section-list {
	margin-top:4rem
}
.what-i-want {
	text-decoration: underline
}
.what-i-want a {
  color: #ff2e6c;
}
.box-tip {
	border: 1px solid #59667D
}
